@import "tailwindcss";

/*css variables inside (@them directive) */
@theme {
  /* colors  */
  --color-primary-100: #fff1e6;
  --color-primary-500: #ff7000;

  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #3f4354;

  --color-light-400: #858ead;
  --color-light-500: #7b8ec8;
  --color-light-700: #dce3f1;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-900: #ffffff;

  /* box shows using '--shadow-*' theme namesapce */
  --shadow-light-100: 0px 12px 20px 0px rgba(184, 184, 184, 0.03), 0px 6px 12px 0px rgba(184, 184, 184, 0.02),
    0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  /* screen sizez using '--breakpoint-*' theme namespace */
  --breakpoint-xs: 420px;

  /* font familry using '--font-*' theme namespace */
  --font-inter: Inter, sans-serif;
  --font-space-grotesk: Space Grotesk, sans-serif;

  /* for border radius we are uinsg '--radius-*' theme namespace */
  --radius-2: 8px;
  --radius-xs: 6px;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem- 2px);
  --radius-sm: calc(0.5rem - 4px);
}

/* Background Utilities */
@utility background-light900_dark200 {
  background: var(--color-light-900);
  @variant dark {
    background: var(--color-dark-200);
  }
}

@utility background-light900_dark300 {
  background: var(--color-light-900);
  @variant dark {
    background: var(--color-dark-300);
  }
}

@utility background-light800_darkgradient {
  background: var(--color-light-800);

  @variant dark {
    background: var(--color-dark-300);
  }
}

@utility background-light800_dark400 {
  background: var(--color-light-800);
  @variant dark {
    background: var(--color-dark-400);
  }
}

@utility background-light700_dark400 {
  background: var(--color-light-700);

  @variant dark {
    background: var(--color-dark-400);
  }
}

@utility background-light700_dark300 {
  background: var(--color-light-700);
  @variant dark {
    background: var(--color-dark-300);
  }
}

@utility background-light800_dark300 {
  background: var(--color-light-800);
  @variant dark {
    background: var(--color-dark-300);
  }
}

@utility background-light800_dark200 {
  background: var(--color-light-800);

  @variant dark {
    background: var(--color-dark-200);
  }
}

@utility background-dark400_light900 {
  background: var(--color-light-900);
  @variant dark {
    background: var(--color-dark-400);
  }
}

@utility background-light850_dark100 {
  background: var(--color-light-850);
  @variant dark {
    background: var(--color-dark-100);
  }
}

/* Text Utilities */
@utility text-dark100_light900 {
  color: var(--color-dark-100);
  @variant dark {
    color: var(--color-light-900);
  }
}

@utility text-dark200_light900 {
  color: var(--color-dark-200);
  @variant dark {
    color: var(--color-light-900);
  }
}

@utility text-dark200_light800 {
  color: var(--color-dark-200);

  @variant dark {
    color: var(--color-light-800);
  }
}

@utility text-dark300_light700 {
  color: var(--color-dark-300);
  @variant dark {
    color: var(--color-light-700);
  }
}

@utility text-dark400_light700 {
  color: var(--color-dark-400);
  @variant dark {
    color: var(--color-light-700);
  }
}

@utility text-dark500_light700 {
  color: var(--color-dark-500);
  @variant dark {
    color: var(--color-light-700);
  }
}

@utility text-dark500_light500 {
  color: var(--color-dark-500);
  @variant dark {
    color: var(--color-light-500);
  }
}

@utility text-dark500_light400 {
  color: var(--color-dark-500);
  @variant dark {
    color: var(--color-light-400);
  }
}

@utility text-dark300_light900 {
  color: var(--color-dark-300);
  @variant dark {
    color: var(--color-light-900);
  }
}

@utility text-dark400_light800 {
  color: var(--color-dark-400);
  @variant dark {
    color: var(--color-light-800);
  }
}

@utility text-dark400_light500 {
  color: var(--color-dark-400);
  @variant dark {
    color: var(--color-light-500);
  }
}

@utility text-dark400_light900 {
  color: var(--color-dark-400);
  @variant dark {
    color: var(--color-light-900);
  }
}

/* Border Utilities */
@utility light-border {
  border-color: var(--color-light-800);
  @variant dark {
    border-color: var(--color-dark-300);
  }
}

@utility light-border-2 {
  border-color: var(--color-light-700);
  @variant dark {
    border-color: var(--color-dark-400);
  }
}

/* topography utilities */
@utility h1-bold {
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
}
@utility h2-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 31.2px;
}

@utility h2-semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
}

@utility h3-bold {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

@utility h3-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.8px;
}

@utility base-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
}

@utility base-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}

@utility base-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 140%;
}

@utility paragraph-regular {
  font-size: 16px;
  font-weight: normal;
  line-height: 22.4px;
}

@utility paragraph-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

@utility paragraph-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}

@utility body-regular {
  font-size: 14px;
  font-weight: normal;
  line-height: 19.6px;
}

@utility body-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}

@utility body-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
}

@utility body-bold {
  font-size: 14px;
  font-weight: bold;
  line-height: 18.2px;
}

@utility small-regular {
  font-size: 12px;
  font-weight: normal;
  line-height: 15.6px;
}

@utility small-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
}

@utility small-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
}

@utility subtle-medium {
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 13px !important;
}

@utility subtle-regular {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
}

@utility primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

@utility dark-gradient {
  background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
}

@utility light-gradient {
  background: linear-gradient(132deg, rgba(247, 249, 255, 0.5) 0%, rgba(229, 237, 255, 0.25) 100%);
}

@utility primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* other utitlies we have  */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Card Wrapper */
@utility card-wrapper {
  background: var(--color-light-900);
  box-shadow: var(--shadow-light-100);
  @variant dark {
    background: var(--dark-gradient);
    box-shadow: var(--shadow-dark-100);
  }
}

/* Button Utilities */
@utility btn {
  background: var(--color-light-800) !important;
  @variant dark {
    background: var(--color-dark-300) !important;
  }
}

@utility btn-secondary {
  background: var(--color-light-800) !important;
  @variant dark {
    background: var(--color-dark-400) !important;
  }
}

@utility btn-tertiary {
  background: var(--color-light-700) !important;
  @variant dark {
    background: var(--color-dark-300) !important;
  }
}

/* Focus Utility */
@utility no-focus {
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

/* Basic utitlies like scroll and mdx editor */
@layer utilities {
  body {
    font-family: "Inter", sans-serif;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .active-theme {
    filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
  }

  .dark-gradient {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  }

  .hash-span {
    margin-top: -140px;
    padding-bottom: 140px;
    display: block;
  }

  .mdxeditor-toolbar {
    background: #ffffff !important;
  }

  .dark .mdxeditor-toolbar {
    background: #151821 !important;
  }

  .dark .mdxeditor-toolbar button svg {
    color: #858ead !important;
  }

  .dark .mdxeditor-toolbar button:hover svg {
    color: #000 !important;
  }

  .dark .mdxeditor-toolbar [role="separator"] {
    border-color: #555 !important;
  }

  .markdown a {
    color: #1da1f2;
  }

  .markdown a,
  code {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    padding: 2px;
    color: #ff7000 !important;
  }

  .markdown pre {
    display: grid;
    width: 100%;
  }

  .markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;

    color: inherit !important;
  }
}
